.inventory{
       float: left;
    margin-left: 25%;
    margin-top: -20%;
    border: 1px solid black;
    width: 30%;
        text-align: center;
}
.current_auction{
     margin-left: 62%;
    margin-top: -20%;
    border: 1px solid black;
    width: 20%;
    height: 42%;
}
.playstats{
    margin-top: 4%;
    border: 1px solid black;
    width: 12%;
    height: 42%;
        text-align: center;
}
.quantity{
   /*margin-left: 21%;*/
}
.item_name{
width:11%
}
h1{
text-align: center
}
.loginname{
margin-left:36%
}